<template>
<div>
  <div>counter:{{counter}}
  </div>
  <button @click="increment">Click</button>
</div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0
      }
    },
    methods: {
      increment() {
        this.counter++
      },
  },
}
</script>

<style scoped>

</style>