<template>
<div>
  <h1 :style="headingStyles">{{title}}</h1>
</div>
  
</template>

<script>
export default {
  data() {
    return {
      headingStyles: {
        color: this.color
      }
    };
  },
  props: ["title", "color"]
};
</script>

<style scoped>

</style>